%h4.ui.dividing.header Edit player profile

= simple_form_for @player, url: player_path(@player.name), html: {class: 'ui form'} do |f|
  = f.input :about, label: 'About',
    wrapper: :semantic
  = f.input :country, label: 'Country', input_html: { class: 'ui fluid search dropdown' },
    wrapper: :semantic
  = f.input :avatar, label: 'Avatar', as: :file,
    wrapper: :semantic
  = f.button :submit, 'Submit', class: 'ui blue submit button'
